# Gradle files
*.iml
.gradle/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/modules.xml
/.idea/.name
/build/
/captures/
.externalNativeBuild/

# Android Studio specific files
.idea/
*.ipr
*.iws
*.idea/
*.bak

# Sensitive files
/app/google-services.json

